body {
    background-color: white;
}

h1 {
    color: red;
    text-align: center;
    font-family: Verdana;
    font-size: 60px;
}

h2 {
    color: white;
    background-color: red;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

p {
    font-family: Georgia;
    font-size: 18px;
}